<div class="header">
  <div class="row">
    <div class="col-md-3">
      Domain
    </div>

    <div class="col-md-3">
      Target
    </div>

    <div class="col-md-2">
      Port
    </div>

    <div class="col-md-4">
      Protected
    </div>
  </div>
</div>

<app-domain *ngFor="let domain of domains"
  [domain]="domain"
  (delete)="deleteDomain($event)"></app-domain>

<div class="loading" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<a class="new-domain" (click)="addDomain()" *ngIf="!isLoading">
  <div class="icon"></div>
  <div class="text">Add new domain</div>
</a>

