<div class="container-fluid" id="main-container">
  <div class="header">
    <div class="logo" [inlineSVG]="'assets/img/logo.svg'"></div>
    <div class="brand">Kansas</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-lg-2">
      <router-outlet name="nav"></router-outlet>
    </div>
    <div class="col-md-9 col-lg-10">
      <div id="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <router-outlet name="footer"></router-outlet>
</div>
