@import "~assets/global";

app-domain {
  display: block;
  padding: ($grid-gutter-width / 2) $grid-gutter-width;

  .label {
    margin-bottom: 0.5em;
  }

  input {
    margin-bottom: 0.5em;
  }

  .last-col {
    overflow: auto;

    .toggle {
      float: left;

      .btn-group {
        display: flex;

        .btn:focus {
          box-shadow: none;
        }
      }
    }

    .remove {
      float: left;
      padding-top: 2rem;
      margin-left: $grid-gutter-width;

      @include media-breakpoint-up(sm) {
        padding-top: 0;
      }
    }

    .spinner {
      float: left;
      padding-top: 1rem;
      margin-left: $grid-gutter-width;

      @include media-breakpoint-up(sm) {
        padding-top: 0.4rem;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .label {
      display: none;
    }

    input {
      margin-bottom: 0;
    }
  }
}
