<div class="row">
  <div class="col-md-3">
    <div class="label">Domain</div>
    <input type="text"
      class="form-control"
      [(ngModel)]="domain.domain"
      (ngModelChange)="updateDomain()">
  </div>

  <div class="col-md-3">
    <div class="label">Target</div>
    <input type="text"
      class="form-control"
      [(ngModel)]="domain.target"
      (ngModelChange)="updateDomain()">
  </div>

  <div class="col-md-2">
    <div class="label">Port</div>
    <input type="number"
      class="form-control"
      [(ngModel)]="domain.port"
      (ngModelChange)="updateDomain()">
  </div>

  <div class="col-md-4 last-col">
    <div class="toggle">
      <div class="label">Protected</div>
      <div class="btn-group btn-group-toggle">
        <button class="btn btn-primary"
          [class.btn-primary]="domain.requiresAuthentication"
          [class.btn-secondary]="!domain.requiresAuthentication"
          (click)="domain.requiresAuthentication = true; updateDomain()">
            Yes
        </button>
        <button class="btn btn-primary"
          [class.btn-primary]="!domain.requiresAuthentication"
          [class.btn-secondary]="domain.requiresAuthentication"
          (click)="domain.requiresAuthentication = false; updateDomain()">
            No
        </button>
      </div>
    </div>
    <div class="remove">
      <button class="btn btn-danger" (click)="delete.emit(domain.id)">Remove</button>
    </div>
    <div class="spinner" *ngIf="isUpdating">
      updating
    </div>
  </div>
</div>
